<h1>Add a new task to @Model["category"].GetName()</h1>
<form action='/categories/task/@Model["category"].GetId()' method='post'>
  <input id='category-id' name='category-id' type='hidden' value='@Model["category"].GetId()'>
  <label for='inputTask'>Enter Task</label>
  <input id='inputTask' name='inputTask' type='text'>
  <button type='submit'>Add task</button>
</form>
